# Intermediate build files; object files
*.o
*.class

# Java
*.jar

# Native libraries
*.a
*.lib
*.dll
*.so
*.dylib

# vim
*.swp
*.swo
*~

# ctags
tags

# deps
/prefix
/aprefix
/deps

# output
/build
/build-armeabi.tar.gz

# old autotools files, switched to CMake
/.autotools-backup.tar.gz

# compiled README.md
/README.html

# generated and customized setenv.sh
/setenv.sh
